.Rproj.user
.Rhistory
.RData
.Ruserdata

**/data/Odonata/
**/data/rotifera/
**/data/rotifera/
**/shape/taxon_in_aqua/
**/shape/BasinATLAS_Data_v10_shp/
**/shape/world_rivers/
**/shape/buffer_hydro_global/
**/shape/ne_10m_admin_0_countries/


